.login-signup-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    padding: 15px 30px;
    font-size: 1em;
}


.login-splash {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
    width: 100px;
    height: 50px;

}

.signup-splash {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
    width: 220px;
    height: 50px;

}

.signup-splash:hover {
    color: black;
    border-color: black;

}


.login-splash:hover {
    color: black;
    border-color: black;
}

