.burger-form-box {
    border-radius: 3px;
    background-color: white;
    // padding: 1vw 2vw;
    // overflow: auto;
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    right: 500px;
}

.inner-burger-form-box {
    display: flex;
}

.burger-form-header {
  box-sizing: border-box;
  background-color: #222;
  width: 100%;
  padding: 10px;
}

.burger-form-header-text {
  font-family: 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  color: #fff;
}

.close-x-burger {
  font-family: 'Helvetica', sans-serif;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.3em;
  color: grey;
  cursor: pointer;
}

.close-x-burger:hover {
  color: white;
}

.form-content {
  padding: 10px
}

.burger-text-picture {
  display: flex;
  
}

.burger-text {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica', sans-serif;
}

.burger-name {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 1em;
  padding: 5px;
  margin-bottom: 8px;
  width: 300px;
}

.text-description {
  font-family: 'Helvetica', sans-serif;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 1em;
  vertical-align: top;
  padding: 5px;
  // width: 80%;
  // height: 80%;
}

.label-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 0;
}

.add-picture {
    background-color: #fc0;
    margin-top: 39px;
    height: 100px;
    width: 100px;
    margin-left: 8px;
}

.add-picture:hover {
    background-color:#c60;
    cursor: pointer;
}

.preview {
  height: 200px;
  width: 200px;
}

.star {
  color: gray;
}


.form-input.rating .rating {
  font-size: 2rem;
  cursor: pointer;
}