.burger-form-box {
//    display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     outline: 1px solid black;
//     padding: 20px;
//     background: white;
//     position: relative;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 1vw 2vw;
    overflow: auto;
    display: flex;
    width: 600px;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: 500px;
}

.inner-burger-form-box {
    display: flex;   
}


.label-file {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 0;
}

.add-picture {
    background-color: #fc0;
}

.add-picture:hover {
    background-color:#c60;
    cursor: pointer;
}

.preview {
  height: 200px;
  width: 200px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}