.burger-form-box {
    border-radius: 3px;
    background-color: white;
    // padding: 1vw 2vw;
    // overflow: auto;
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    right: 500px;
}

.inner-burger-form-box {
    display: flex;
}

.burger-form-header {
  box-sizing: border-box;
  background-color: #222;
  width: 100%;
  padding: 10px;
}

.burger-form-header-text {
  font-family: 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  color: #fff;
}

.close-x-burger {
  font-family: 'Helvetica', sans-serif;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.3em;
  color: grey;
  cursor: pointer;
}

.close-x-burger:hover {
  color: white;
}

.form-content {
  padding: 10px
}

.burger-text-picture {
  display: flex;
  
}

.burger-text {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica', sans-serif;
}

.burger-header-wrap {
  display: flex;
}

.restaurant-form {
  position: relative;
  font-family: 'Helvetica', sans-serif;
  margin-left: 10px; // 60px
  margin-top: 5px;
}

.restaurant-pic-text {
  display: flex;
  flex-direction: row;
}

.burger-name {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 1em;
  padding: 5px;
  margin-bottom: 8px;
  width: 300px;
}

.text-description {
  font-family: 'Helvetica', sans-serif;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 1em;
  vertical-align: top;
  padding: 5px;
  width: 456px;
  height: 91px;
}

.label-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 0;
}

.add-picture {
    background-color: #fc0;
    margin-top: 1px;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.add-picture:hover {
    background-color:#c60;
    cursor: pointer;
    transition: .3s;
}

.preview {
  height: 200px;
  width: 200px;
}

.star {
  color: gray;
}

.form-input.rating {
  display: flex
}

.rating-header {
  font-family: 'Helvetica', sans-serif;
  color: black;
  font-weight: 500;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1.3em;
}

.form-input.rating .rating {
  font-size: 1.7rem;
  cursor: pointer;
  margin-right: 3px;
  margin-top: 7px;
}

.form-bottom-box {
  display: flex;
  margin-top: 3px;
  // justify-content: space-between;
}

.flavorcheck-button {
  background-color: #fc0;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  box-sizing: border-box;
  border: white;
  margin-top: 8px;
  margin-left: 14px;
}

.flavorcheck-button:hover {
  background-color:#c60;
  cursor: pointer;
  transition: .3s;
  // color: black;
}