
.image-box {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-single-1 {
    width: 45px;
    height: 45px;
    margin: 3px;
    padding-right: 7px;
}

.footer-single {
    width: 45px;
    height: 45px;
    margin: 3px;
    padding-left: 7px;
}





