.home-container {
    display: flex;
    justify-content: center;
    background-color: #f5f2e8;
    flex-direction: row;
    overflow: auto;
    padding-top: 80px;
    padding-bottom: 10px;

}

.home-content {
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    align-self: center;
    padding: 16px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.profile-list {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    display: flex;
    padding: 16px;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    width: 300px;
    height: max-content; 
    margin-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

.home-header-text {
    margin-bottom: 10px;
    margin-top: 3px;
    font-family: 'Helvetica', sans-serif; 
    font-weight: 400;
    font-size: 1.4em;
}

.home-review-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5px;
}

.profile-list h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    // border-bottom: 1px solid #e5e5e5;
}

.profile-username {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile-username p {
    font-family: 'Helvetica', sans-serif;
    color: #999;
    font-weight: 400;
    font-size: .8em;
    padding-left: 7px;
    margin-right: 18px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1em;
}


.box-username {
    display: flex;
    flex-direction: column;
    border: 5px black;
    margin-top: 10px;

}

.box-of-badges {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
//    margin-left: 3px;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
    width: 134px;
    height: 49px;
    border: 1px solid rgba(0,0,0,.1);
    align-items: center;
}

.inner-box:hover {
    background-color: #6666663b;
    cursor: pointer;
}

.small-text {
    font-family: 'Helvetica', sans-serif;
    color: #333;
    font-size: 12px;
    
}

.number-text {
    font-family: 'Helvetica', sans-serif;
    color: #333;
    font-size: 1.2em;
    margin-bottom: 3px;
}

.left-home-box {
    display: flex;
    flex-direction: column;
}

.following-box {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    display: flex;
    padding: 16px;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    width: 300px;
    height: max-content; 
    margin-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.following-box h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}


.following-box p {
    font-family: 'Helvetica', sans-serif;
    color: #c60;
    font-size: 1.30em;
    line-height: 1.4em;
    margin-bottom: 5px;
    font-weight: 325;
}