.nav-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    height: 52px;
    background-color: #fc0;
    z-index: 10;

}

.left-header {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-right: 200px;
}

.flavor-check {
    font-size: 38px;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
    white-space: normal;
    padding-top: 5px;
}

.flavor-check:hover {
    color: black;
    transition: .5s;
}

.flavor-town {
    color: #fff;
    font-size: 19.2px;
    font-weight: 200;
    font-family: 'Helvetica', sans-serif;
    white-space: normal;
    margin-top: 16px;
    padding-left: 35px;
}

.flavor-town:hover {
    color: black;
    transition: .5s;
}

.avatar {
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 18px;
    overflow: hidden;
    margin: 7.5px 0;
}

.right-header {
    display: flex;
    margin-left: 25px;
}

.logout {
  border-color: white;
  background-color: transparent;
  font-family: 'Helvetica', sans-serif;
  font-size: medium;
  border: 2px solid #fff;
  color: #fff;
  margin-right: 10px;
  border-radius: 7px;
  width: 100px;
  height: 33px;
  margin-top: 10px;
  margin-left: 15px;
//   margin-right: -24px;
}

.logout:hover {
    color:black;
    background-color: white;
    transition: .3s;
    cursor: pointer;
    transition: .5s;
}