.profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f2e8;
}

.profile-header-container {
    height: 400px;
}

.profile-header-container img {
    width: 1032px;
    z-index: -5;
    object-fit: cover;
    height: 400px;
    z-index: -10;
    bottom: 50px;
}


.profile-header {
    display: flex;
    position: relative;
    left: 20px;
    right: 80px;
    bottom: 132px;
    color: white;

}

.profile-header img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 40px;
    overflow: hidden;
    margin: 7.5px 0;
}

.profile-header-text {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 30px;
}

.profile-header-text h2 {
    font-family: 'Helvetica', sans-serif;
    color: #fff;
    font-size: 2.2em;
    line-height: 1.125em;
    font-weight: 600;
}

.profile-header-text p {
    font-family: 'Helvetica', sans-serif;
    color: #fff;
    font-size: 1.1em;
}

.profile-header-bottom {
    display: flex;
    position: relative;
    left: 129px;
    right: 80px;
    bottom: 138px;
    color: white;
    z-index: 3;
}

.profile-header-bottom-text-1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    z-index: 4;
}

.profile-header-bottom-text-2 {
    margin-left: 30px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    z-index: 4;
}

.profile-bottom-container {
    display: flex;
    flex-direction: row;
}

.burger-post-container {
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 700px;
    position: relative;
    padding: 16px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

.description-side-box {
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    height: auto;
    display: flex;
    padding: 16px;
    flex-direction: column;
    position: -webkit-sticky;
    width: 300px;
    height: max-content;
    margin-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 100px;
    // margin-top: 20px;
}

.description-side-box h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}


.burger-joints-box {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    display: flex;
    padding: 16px;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    width: 300px;
    height: max-content; 
    margin-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;

}

.burger-joints-box h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.burger-joints-box p {
    font-family: 'Helvetica', sans-serif;
    color: #c60;
    font-size: 1.30em;
    line-height: 1.4em;
    margin-bottom: 5px;
    font-weight: 325;
}


.burger-text-image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    top: 20px;
    object-fit: cover;
}

.burger-text-default {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger-text-default p {
    display: flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.burger-event-text {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    font-weight: bold;
    color: #c60;
    line-height: 130%;
    margin-top: 5px;
    text-decoration: none;
}

.burger-event-text-inner {
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    color: #c60;
    font-size: .8em;
    margin-bottom: 10px;
}

.add-profile-picture {
    background-color: #fc0;
    margin-top: 1px;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    z-index: 2;
}

.add-profile-picture:hover {
    opacity: 0.5;
    cursor: pointer;
}

.profile-pic-button {
    font-family: 'Helvetica', sans-serif;
    width: 165px;
    background-color:  black;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 10;
    position: absolute;
    margin-left: 14px;
}

.profile-pic-button:hover {
    cursor: pointer;
    background-color: #fc0;
}

