/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

 .login-form-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
    border: #666666 1px solid;
    border-radius: 3px;
    padding: 2px 2px 4px 2px;
    display: flex;
    align-content: center;
    box-shadow: 1px 1px 1px grey;
    font-weight: 500;
    color: black;
    margin: 2% 0%;
    width: 97%;
    height: 20px;
    line-height: 5px;
    border-radius: 3px;
    text-align: center;
 }

 .login-form-box {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   outline: 1px solid black;
   padding: 20px;
   background: white;
   position: relative;
   border-radius: 3px;
 }
/* CHANGE FONT COLOR */
 .session-submit {
    height: 30px;
    cursor: pointer;
    text-align: center;
    background-color: #ffcc00;
    color:black;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 16px;
    margin: 2% 0%;
    width: 200px;
 }

 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }

.header-button {
   border-radius: 3px;
   background-color: blue;
   width: 75px;
   text-align: center;
   appearance: none;
   cursor: pointer;
   color: white;
 }

 .header-modal {
   margin-top: 15px;
   margin-bottom: 15px;
   text-align: center;
   font-family: 'Poppins', sans-serif; 
   font-weight: bolder;
 }

 .errors {
    text-align: center;
    background-color: #e25858;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
    /* border-top-right-radius: 4px;
    border-top-left-radius: 4px; */
 }